* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to bottom right, #9be15d, #00e3ae);
  min-height: 100vh;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  text-align: center;
}

h1 {
  font-size: 4rem;
  transform: rotate(-4deg);
  color: #fff;
  position: relative;
}

h1::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #9be15d, #00e3ae);
  position: absolute;
  top: 0;
  z-index: -1;
  transform: rotate(8deg);
}

/*-------------*/
/* Cards*/
.cards{

}

.card {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  transform: skewX(-20deg);
  transition: all 0.4s;
  box-shadow: 0 0 2rem 1px rgba(0, 0, 0, 0.08);
}

.card:hover {
  transform: scale(1.1) skew(-20deg);
  /* transform: scale(1); */
  /* transform: skew(-20deg); */
  /* transform: translate(-2rem); */
}

.card-emoji,
.details-box {
  background: #fff;
}

.card-emoji,
.card-title-box,
.card-view-box {
  padding: 2rem;
  height: 100%;
}

.card-emoji {
  font-size: 3rem;
  letter-spacing: -2rem;
  padding-right: 4rem;
}

.card-title-box {
  background: linear-gradient(to bottom, #9be15d, #00e3ae);
}

.card-title {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  transform: skewX(20deg);
}

.details-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.card-detail {
  padding: 3rem 2rem;
}

.card-detail:not(:last-child) {
  border-right: 1px solid #eee;
}

.organic-text {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #00e3ae, #9be15d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.detail-text {
  font-size: 1.5rem;
  transform: skewX(20deg);
}

.organic-text,
.price-text {
  transform: skewX(20deg);
  font-size: 1.8rem;
  font-weight: 900;
}

.card-view-box {
  background: #9be15d;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.card-view-box:hover {
  background: #00e379;
  cursor: pointer;
}

.card-view:link,
.card-view:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 900;
  transform: skewX(20deg);
}
