* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to bottom right, #9be15d, #00e3ae);
  min-height: 100vh;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.header-container {
  display: flex;
  justify-content: center;
  margin: 7rem 0;
  text-align: center;
}

h1 {
  font-size: 5rem;
  transform: rotate(-4deg);
  color: #fff;
  position: relative;
}

h1::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #9be15d, #00e3ae);
  position: absolute;
  top: 0;
  z-index: -1;
  transform: rotate(8deg);
}
